<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div class="cat-head rainbow_text_animated">
    <strong>Enjoy the Cats! <br>/ᐠ - ˕ -マ</strong>
  </div>
  
  <div class="maincontent">
    <div id="grid" class="imgrid">
      <div *ngFor="let imageData of catImages" class="col col-lg">
        <img [src]="imageData.url" alt="Cat Image">
      </div>
    </div>
  </div>
  <div class="ion-text-center">
    <ion-button color="danger" id="logout" class="ion-margin" (click)="logout()">Log out</ion-button>
  </div>
</ion-content>
