<div style="text-align: center;">
    <ion-card-content [class.small-content]="isSmall">
        <h1>Volume</h1>
        <custom-slider></custom-slider>
        <h1>Cookies</h1>
        <ion-toggle [(ngModel)]="condition"></ion-toggle><br>
        <br>
        <h1>Other Information</h1>
        <ion-button class="button" >App Version</ion-button><br>
        <ion-button class="button" >App Security Update</ion-button>
    </ion-card-content>
</div>
<ion-button class="cbutton"(click)="closeModal()">Close Settings</ion-button>