.small-content {
    transform: scale(0.8);
    transition: transform 0.3s ease;
  }
  
.small-content:hover {
    transform: scale(0.9);
  }

.cbutton{
    --ion-color-primary: rgb(179, 81, 231);
  }

.button {
    --background: rgb(179, 81, 231);
    --color: white;
  }