<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start" class="left-align">Cat Gallery Login Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>LOGIN TO ACCESS <br> <strong><span class="rainbow wavy-text">THE CAT GALLERY<br>≽^•⩊•^≼ฅ</span></strong></h1>
  <ion-input label="Username" label-placement="floating" fill="solid" type="text" [(ngModel)]="username"
    class="input"></ion-input>
  <ion-input label="Password" label-placement="floating" fill="solid" type="password" [(ngModel)]="password"
    class="input"></ion-input>
  <ion-button (click)="login()" class="button">Login</ion-button>

</ion-content>
