h1 {
    font-size: 250%;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    word-spacing: 10px;
}

ion-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px auto;
    width: 50%;
    height: 6%;
    max-width: 200px;
    color:#ffffff;
    --ion-color-primary:  rgb(190, 0, 16);
}

.input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: #ffffff;
    width: 70%;
    max-width: 400px;
    margin: 0 auto 20px;
    text-align: left !important;
}

h3 a {
    color: rgb(255, 32, 51);
}