<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="about" id="about">
    <div class="max-width">
      <h1 class="portfolio-title">Developers Portfolio</h1>
      <h2 class="about-title">About me:</h2>
      <div class="about-content">
        <div class="column left">
          <img src="../../assets/img/watda.jpg" alt="me">
        </div>
        <div class="column right">
          <div class="name">I am Huerwie Cabellon</div>
          <div class="desc">
            <p>As an undergraduate student, I am continuously learning and growing in the field of technology.
              While I may not be as proficient as others, I bring a unique set of strengths to the table,
              particularly in multimedia. My journey in programming, particularly in Java and C#, has laid a
              solid foundation for my skills. However, my true passion lies in multimedia, specifically in video
              and photo editing, a craft I've honed since childhood. Additionally, I have developed a modest
              proficiency in animation and both digital and traditional art forms.</p>
          </div>
        </div>
      </div>
      <div class="under-column">
  
        <div class="text1">
        <div class="text">Hobbies</div>
          <ul>
            <li>Video/Photo Editing</li>
            <li>Playing online games</li>
            <li>Watching Reels/TikTok</li>
            <li>Resting</li>
            <li>Mag-relapse</li>
          </ul>
        </div>
  
        <div class="text1">
        <div class="text">Likes</div>
          <ul>
            <li>Cats</li>
            <li>Sleeping</li>
            <li>Ice Cream</li>
            <li>Cold Temperature</li>
            <li>Sya</li>
          </ul>
        </div>
  
        <div class="text1">
        <div class="text">Talent</div>
          <ul>
            <li>Video/Photo Editing</li>
            <li>Graphic Design</li>
            <li>Playing instrument</li>
            <li>Singing (slight)</li>
            <li>Cooking (frying egg)</li>
          </ul>
        </div>
  
        <div class="text1">
        <div class="text">Skills</div>
          <ul>
            <li>Technical Skills</li>
            <li>Empathetic</li>
            <li>Critical Thinking</li>
            <li>Detailed-oriented</li>
            <li>Copyreading</li>
          </ul>
        </div>
  
        <div class="text1">
        <div class="text">How do you see yourself in 5 years?</div>
          <p>
            Honestly speaking, I don't see myself doing well in 5 years. However, if I were to assume or predict, 
            I would be working in the multimedia field. It is something I'm passionate about, so if luck isn't on my side, 
            I just hope to be financially stable enough to sustain my needs and wants.
          </p>
        </div>
  
        <div class="text1">
        <div class="text">Strengths and Weaknesses</div>
          <h4>Strengths will be:</h4>
          <ul>
            <li>Honest</li>
            <li>Creativity</li>
            <li>Open-minded</li>
            <li>Ability to work under pressure</li>
          </ul>
  
          <h4>Weaknesses will be:</h4>
          <ul>
            <li>Too Detailed-oriented</li>
            <li>Shy</li>
            <li>Insecure</li>
            <li>Self-Critical</li>
            <li>Short Attention Span</li>
          </ul>
        </div>
  
        <div class="text1">
        <div class="text">Motto</div>
          <p>Dead people receive more flowers than living ones because regret is stronger than gratitude.</p>
        </div>
  
        <div class="text1">
        <div class="text">Love Language mo? Bakit?</div>
          <p>I think my Love Language is words of affirmation kasi I'm really good with words, though, I mean all of it.
            I might not always show my love as well as I'd like, kasi hindi naman ako lumaki sa affectionate home. 
            But I want to acknowledge that I can give all the affirmation and reassurance that someone needs. 
            I really want them to feel loved and appreciated, just like they deserve.
          </p>
        </div>
  
        <div class="text1">
        <div class="text">Kung pagkain ka ano ka? Bakit?</div>
          <p>Siguro dark chocolate kasi mapait sa una, pero habang tumatagal, sumasarap at hindi nakakaumay. Yum!</p>
        </div>
  
        <div class="text1">
        <div class="text">Pet Peeve</div>
          <p>Loud chewing with the mouth open and OA sa pagpapapansin.</p>
        </div>
      </div>
    </div>
    <ion-button (click)="logout()">Logout</ion-button>
  </section>
</ion-content>